.filters-row {
    margin-top: 30px;
}

.tasks {
    margin-top: 30px;
    &-card {
        h4 {
            display: inline-block;
            margin-right: 10px;
        }
        .card-outer-header {
            display: flex;
            align-items: center;
        }
    }

    &-head {
        button {
            display: block;
            width: 100%;
        }
        align-items: center;
    }

    &-tag {
        margin: 0 5px;
    }

    &-inner-card {
        padding: 10px;
        width: 120px;
        margin: 10px 20px;
        .card-header {
            padding: 5px;
            h6 {
                font-size: 13px;
            }
        }
        .card-body {
            padding: 5px;
        }
    }

    &__item {
        margin-bottom: 20px;
    }

    &-description {
        &__item {
            
        }
    }

    &-data {
        margin-top: 20px;
        .card {
            padding: 10px;
        }
        .card-header {
            padding: 5px;
            background: #fff;
        }
    }
}
